<header>
  <nav>
    <div class="head-top clearfix">
      <div class="h-top-right">
        <ul class="list-inline text-right">
          <li>
            <a href="javascript:void(0)">Login <i class="fa fa-users"></i></a>
          </li>
          <li>
              <a href="javascript:void(0)">Get App <i class="fa fa-mobile"></i></a>
            </li>
        </ul>
      </div>
    </div>
    <div class="head-bottom clearfix">
      <div class="logo pull-left">
        <a href="javascript:void(0)"><img src="../assets/images/logo.png"></a>
      </div>
      <div class="search-wrap pull-left relative">
        <input type="text" class="form-control" placeholder="Search your device to sell ">
      </div>
      <div class="menu">
          <ul class="list-inline text-right">
            <li>
                <a href="javascript:void(0)">Sell</a>
            </li>
            <li>
                <a href="javascript:void(0)">Screen Pro</a>
            </li>
            <li>
                <a href="javascript:void(0)">Invite & Earn</a>
            </li>
            <li>
                <a href="javascript:void(0)">Popup Store</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
