<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="fot-data">
          <h4 class="foot-menu">About US</h4>
          <img src="../assets/images/logo.png">
          <ul class="aboutUs">
            <li >Name : Manak Waste Management Pvt Ltd</li>
            <li >Address : 15, Gautam Appartments, Near Gulmohar Park</li>
            <li >New Delhi Delhi DL 110049 India | CIN : U27205DL2009PTC190441</li>
            <li >Telephone No. : +91-7290-068-900 | Email Id : info@cashify.in</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="fot-data">
          <h4 class="foot-menu">Help</h4>
          <ul class="foot-links">
            <li ><a>Careers</a></li>
            <li ><a>FAQ</a></li>
            <li ><a>Terms and Condition</a></li>
            <li ><a>Privacy policy</a></li>
            <li ><a>Terms Of Use</a></li>
            <li ><a>E-Waste Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="fot-data">
          <h4 class="foot-menu">Company</h4>
          <ul class="foot-links">
            <li ><a>About Home</a></li>
            <li ><a>About US</a></li>
            <li ><a>Blog</a></li>
            <li ><a>Cashofy News</a></li>
            <li ><a>Testimonials</a></li>
            <li ><a>About</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</footer>
