/*  ---- By WM ---- */
/*---------------------------------- Common Css  ----------------------------------*/
*::before, *::after, .btn, .animate, a, .simplefilter li, .owl-theme .owl-dots .owl-dot span, .form-control{
  transition:all 0.3s ease-in 0s;
  -moz-transition:all 0.3s ease-in 0s;
  -ms-transition:all 0.3s ease-in 0s;
  -o-transition:all 0.3s ease-in 0s;
  -webkit-transition:all 0.3s ease-in 0s;		
} 
body {
	font-size: 14px;
	margin: 0;
  font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}
a, a:focus, a:hover{	 
  text-decoration:none !important;
  outline:none !important;
}
h1, h2, h3, h4, h5, h6, p, ul, li{
  margin:0;
  padding:0;
}	
ul, li{
  list-style-type:none;
}
.relative{
  position:relative;
}  
.mr-5{
    margin-right: 5px;
}
.back-img{
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.overlay::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.8);
}