<app-header></app-header>
<div class="banner bg-grey">
    <div class="container">
        <div class="bnn-head bg-gradient clearfix">
            <h4 class="pull-left"> What would you like to sell today? </h4>
            <div class="pull-right bnr-location">
                <a href="javascript:void(0)">Pune <i class="fa fa-map-marker ml-5"></i></a>
            </div>
        </div>
        <div class="cat-list-wrapper">
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                        <div class="cat-list">
                            <ul class="clearfix">
                                <li>
                                    <div class="cat-list-box">
                                    <img src="../assets/images/home/mobile.jpg">
                                    <p>Mobile Phone</p>
                                </div>
                                </li>
                                <li>
                                        <div class="cat-list-box">
                                    <img src="../assets/images/home/laptop.jpg">
                                    <p>Laptop</p>
                                    </div>
                                </li>
                                <li>
                                        <div class="cat-list-box">
                                    <img src="../assets/images/home/tab.jpg">
                                    <p>Tablet</p>
                                    </div>
                                </li>
                                <li>
                                        <div class="cat-list-box">
                                    <img src="../assets/images/home/tv.jpg">
                                    <p>TV</p>
                                    </div>
                                </li>
                                <li>
                                        <div class="cat-list-box">
                                    <img src="../assets/images/home/game.jpg">
                                    <p>Gaming Consoles</p>
                                    </div>
                                </li>
                                <li>
                                        <div class="cat-list-box">
                                    <img src="../assets/images/home/mac.jpg">
                                    <p>Mac</p>
                                    </div>
                                </li> 
                            </ul>
                        </div>        
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="baner-slider owl-carousel owl-theme">
                            <div class="item">
                                <img src="../assets/images/home/banner-1.jpg">
                            </div>
                            <div class="item">
                                <img src="../assets/images/home/banner-2.png">
                            </div>
                            <div class="item">
                                <img src="../assets/images/home/banner-3.jpg">
                            </div>
                        </div> 
                    </div>
                </div>
        </div>
    </div>
</div>
<section class="how-work-section">
    <div class="container">
        <h2 class="comm-head">How Cashify Works</h2>
        <div class="how-data">
                <img src="../assets/images/home/how.png">
        </div>
    </div>      
</section>
<section class="count-slide">
        <img src="../assets/images/home/count-slider.png">
        <img src="../assets/images/home/testi.png">
</section>
<section class="bg-grey sell-old-device-section">
    <div class="container">
        <h2 class="comm-head">Sell Old Devices</h2>
    <div class="old-device-cat">
            <div class="cat-list">
                    <ul class="clearfix">
                        <li>
                            <div class="cat-list-box">
                            <img src="../assets/images/home/mobile.jpg">
                            <p>Mobile Phone</p>
                        </div>
                        </li>
                        <li>
                                <div class="cat-list-box">
                            <img src="../assets/images/home/laptop.jpg">
                            <p>Laptop</p>
                            </div>
                        </li>
                        <li>
                                <div class="cat-list-box">
                            <img src="../assets/images/home/tab.jpg">
                            <p>Tablet</p>
                            </div>
                        </li>
                        <li>
                                <div class="cat-list-box">
                            <img src="../assets/images/home/tv.jpg">
                            <p>TV</p>
                            </div>
                        </li>
                        <li>
                                <div class="cat-list-box">
                            <img src="../assets/images/home/game.jpg">
                            <p>Gaming Consoles</p>
                            </div>
                        </li>
                        <li>
                                <div class="cat-list-box">
                            <img src="../assets/images/home/mac.jpg">
                            <p>Mac</p>
                            </div>
                        </li> 
                    </ul>
                </div>  
    </div>    
    </div>
</section>
<app-footer>
    
</app-footer>